@font-face {
    font-family: 'iconfont';
    src: url('/font_2i39s38k30p/iconfont.eot');
    src: url('/font_2i39s38k30p/iconfont.eot?#iefix') format('embedded-opentype'),
        url('/font_2i39s38k30p/iconfont.woff2') format('woff2'),
        url('/font_2i39s38k30p/iconfont.woff') format('woff'),
        url('/font_2i39s38k30p/iconfont.ttf') format('truetype'),
        url('/font_2i39s38k30p/iconfont.svg#iconfont') format('svg');
        
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}